.dashboard {
    position: absolute;
    right: 30px;
    width: calc(100% - 300px);
    top: 150px;

    .products {
        margin-top: 20px;

        > h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 50px;
        }

        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 900px) {
    .dashboard {
        width: calc(100% - 300px);
    }
}

@media (max-width: 600px) {
    .dashboard {
        width: 100%;
        padding-bottom: 70px;
        right: auto;
    }
}
