.dashboard {

    position: absolute;
    right: 30px;
    width: 80%;

    #autocomplete {
        position: absolute;
        z-index: 1;
        height: 280px;
        overflow-y: hidden;
        background: #000000fa;
        border-radius: 10px;
        right: 50%;
        width: 84%;
        transform: translate(50%);
        padding: 20px;
        // border: 1px solid white;
        margin-top: 10px;
        display: flex;
        gap: 20px;
        flex-direction: column;


        >a {
            text-decoration: none;
            border-radius: 10px;
            color: white;
            padding: 5px;
            width: 100%;
            display: flex;
            gap: 10px;
            border-bottom: 1px solid #ffffff55;
        }

    }

    .search {
        display: flex;
        justify-content: center;

        >input {
            width: 80%;
            height: 40px;
            border-radius: 10px 0 0 10px;
            border: none;
            text-align: center;
            font-size: larger;

            &::placeholder {
                color: black;
            }
        }

        >button {
            padding: 10px 10px;
            border-radius: 0 5px 5px 0;
            background-color: #7FE787;
            border: none;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .products {
        margin-top: 20px;


        >h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 50px;
        }

        >div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}